In [1]:
t1 = 1, 2
print(type(t1)) # 什么类型
t2 = (1, 2)
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [3]:
a,b = {10,20,30} # 非线性结构
print(a,b)

ValueError: too many values to unpack (expected 2)

In [7]:
*rest, b = [1, 2, 3, 4, 5]
print(rest, b)

[1, 2, 3, 4] 5

In [6]:
*rest = [1, 2, 3, 4, 5]
print(rest) # 内容是什么？

SyntaxError: starred assignment target must be in a list or tuple (<ipython-input-6-471040b909fa>, line 4)

In [10]:
a, *r1,  b = [1, 2, 3, 4, 5] 
print(a,r1,b)

1 [2, 3, 4] 5

In [11]:
a, *_, b = [1, 2, 3, 4, 5]
print(_) #

[2, 3, 4]

In [12]:
_, *b, _ = [1, 2, 3]
print(_) # 第一个_是什么
print(b) # 是什么
print(_) # 第二个_是什么

3
[2]
3

In [13]:
nums = [1, (2, 3, 4), 5]
print(nums[1][2])

4

In [14]:
x=list(range(10))
_,x2,_,x4,*_,a,_ = x
print(x2,x4,a)

1 3 8

In [15]:
L1=[1]
print(id(L1))

140241425354440

In [17]:
L1.append(2)
print(id(L1))

140241425354440

In [22]:
x=dict(a=2)
print(x)

{'a': 2}

In [25]:
d = {}
d['a'] = 1
d.update(red=1)
# d.update(['red',2])
d.update({'red':3})
print(d)

{'a': 1, 'red': 3}

In [27]:
[[x] for x in range(10)] #

[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9]]

In [28]:
{x:(x,x+1) for x in range(10)}

{0: (0, 1),
 1: (1, 2),
 2: (2, 3),
 3: (3, 4),
 4: (4, 5),
 5: (5, 6),
 6: (6, 7),
 7: (7, 8),
 8: (8, 9),
 9: (9, 10)}

In [30]:
{x:[x,x+1] for x in range(10)} #

{0: [0, 1],
 1: [1, 2],
 2: [2, 3],
 3: [3, 4],
 4: [4, 5],
 5: [5, 6],
 6: [6, 7],
 7: [7, 8],
 8: [8, 9],
 9: [9, 10]}

In [31]:
print(sorted({'a':100, 'b':'abc'}))
print(sorted({'a':100, 'b':'abc'}.items()))

['a', 'b']
[('a', 100), ('b', 'abc')]

In [34]:
x={12:3,13:3,11:2,10:1,15:3,9:1}
print(sorted(x.values(),key=int,reverse=True))

[3, 3, 3, 2, 1, 1]

In [77]:
#求质数，注意除去0和1
n=10
L1=[]
for _ in range(n+1):
	L1.append(True)
for i in range(2,n+1):
    if L1[i]:
        print(i)
        j=i+i
    while j< n or j==1 or j==0:
        L1[j]=False
        j+=i
print(L1)

2
3
5
7
10
[True, True, True, True, False, True, False, True, False, False, True]

In [52]:
print(1),print(2)

1
2

(None, None)

In [54]:
set1={1,2,3,'(a,b)'}

In [56]:
t=1,2
print(type(t))
t2 = (1, 2)
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [61]:
a,b = {'x':10,'y':11}
print(a,b)
(a,b)=1,2
a,b = {10,20}
print(a,b)

x y
10 20

In [62]:
a,b = (10,20,30)

ValueError: too many values to unpack (expected 2)

In [88]:

def is_prime(num):
    L1=[]
    L1.append(False) #排除0和1，从2开始计算素数
    L1.append(False)
    for _ in range(num+1):
        L1.append(True)
    for i in range(2,num+1):
        if L1[i]:
            print(i)
            j=i+i
            while j <= num:
                L1[j]=False
                j+=i
    if L1[num]:
        print(num,'is prime')
    else:
        print(num,'is not not_prime')
num=int(input('num='))
is_prime(num)

num=13
2
3
5
7
11
13
13 is prime

In [90]:
a,*b,c = [1,2,3,4,5,6]
print(a,b,c)
print(type(b))

1 [2, 3, 4, 5] 6
<class 'list'>

In [92]:
a, *_, b = [1, 2, 3, 4, 5]
print(_) #
*rest = [1, 2, 3, 4, 5]
print(rest)

SyntaxError: starred assignment target must be in a list or tuple (<ipython-input-92-c72690853598>, line 6)

In [93]:
a,b,a = [1,2,3]
print(a)

3

In [98]:
s3 = set([1])

In [100]:
s3={[1]}

TypeError: unhashable type: 'list'

In [105]:
s1=set()
# s2=set(1)
s3=set([1,2,3])
s4=set({'a','b','c'})
s5=set('abcdefg')
print(s1,s3,s4,s5)

set() {1, 2, 3} {'c', 'b', 'a'} {'c', 'f', 'g', 'e', 'd', 'b', 'a'}

In [109]:
s5={}  ##这是字典的初始化方式，因此s5是个字典
print(type(s5))
s1={11}
s2={1,'a'}
# s3={[1],2,3}  #列表不能hash，因此此语句报错，去掉元素[1]即可
s4={1,(2,)}

<class 'dict'>

In [110]:
s4.update(s2)

In [111]:
print(s4)

{'a', 1, (2,)}

In [113]:
s4.update([1,2,3])

In [115]:
s1={1}
s2={2}
s3={3}
s4={999}
s4.update(s1,s2,s3)
print(s4)
s4.update([11,22,33])
print(s4)
s4.update({111,222,333})
print(s4)
s4.update('abcdef')
print(s4)

{1, 2, 3, 999}
{1, 2, 3, 33, 999, 11, 22}
{1, 2, 3, 33, 999, 11, 333, 111, 22, 222}
{1, 2, 3, 33, 'c', 'f', 999, 'e', 11, 333, 111, 22, 'd', 'b', 'a', 222}

In [116]:
s4.add('xiejiawen')
print(s4)

{1, 2, 3, 33, 'c', 'f', 999, 'e', 11, 333, 111, 'xiejiawen', 22, 'd', 'b', 'a', 222}

In [121]:
s4={1, 2, 3, 33, 'c', 'f', 999, 'e', 11, 333, 111, 'xiejiawen', 22, 'd', 'b', 'a', 222}
s4.remove(1)
# s4.discard(1,2)
s4.discard(2)
s4.discard(2)
print(s4)

{3, 'c', 33, 'f', 999, 'e', 11, 333, 111, 'xiejiawen', 22, 'd', 'b', 'a', 222}

In [127]:
s4={3, 'c', 33, 'f', 999, 'e', 11, 333, 111, 'xiejiawen', 22, 'd', 'b', 'a', 222}
s4.pop()
print(s4)

{3, 'f', 'c', 999, 'e', 11, 333, 111, 'xiejiawen', 22, 'd', 'b', 'a', 222}

In [128]:
s4={3, 'c', 33, 'f', 999, 'e', 11, 333, 111, 'xiejiawen', 22, 'd', 'b', 'a', 222}
s4.pop()
print(s4)

{3, 'f', 'c', 999, 'e', 11, 333, 111, 'xiejiawen', 22, 'd', 'b', 'a', 222}

In [135]:
s1={1}
s2={2}
s3={3}
s3.union(s1,s2)

{1, 2, 3}

In [133]:
s3.union([4,5,6])
print(s3)

{3}

In [137]:
s3.update(s1,s2)
print(s3)

{1, 2, 3}

In [142]:
s1={1}
s3={3}
s3 |= s1
print(s3)

{1, 3}

In [155]:
s1={1,2,3,4,5}
s2={2,3,4,5,6,999}
s3={3,4,5,6,7}
s1.intersection(s2)
print(s1)

{1, 2, 3, 4, 5}

In [156]:
s2.intersection_update(s1,s3)

In [152]:
s2.difference(s1)

{6, 999}

In [154]:
s2.difference_update(s1,s3)
print(s2)

{999}

In [162]:
s1={1,2,3,4,5}
s2={2,3,4,5,6,999}
s3={3,4,5,6,7}
# s2.symmetric_difference(s3)
s2.symmetric_difference_update(s3)
print(s2)

{2, 999, 7}

In [172]:
>>> d1={}  #这是字典专用的初始化格式，集合虽然也是以大括号包围，但是不能这样初始化
>>> d2=dict(name='xiejiawen',age=25,sex='male')
>>> d3=dict([('a',2),('b',3)],fundation='hangzhou',country='China')
>>> d4=dict(d2,profession='cs')
>>> print(d1)
>>> print(d2)
>>> print(d3)
>>> print(d4)

{}
{'name': 'xiejiawen', 'age': 25, 'sex': 'male'}
{'a': 2, 'b': 3, 'fundation': 'hangzhou', 'country': 'China'}
{'name': 'xiejiawen', 'age': 25, 'sex': 'male', 'profession': 'cs'}

In [175]:
d6={'name':'xiejiawen','name2':'111'}
print(type(d6),d6)

<class 'dict'> {'name': 'xiejiawen', 'name2': '111'}

In [178]:
a=dict.fromkeys(range(5))
print(a)

{0: None, 1: None, 2: None, 3: None, 4: None}

In [207]:
d3={'a': 2, 'b': 3, 'fundation': 'hangzhou', 'country': 'China'}
# # d3['country']
# d3.get('a',999)
# # d3.setdefault('b',987)
# d3.setdefault('c',996)
# print(d3)
d3['a']=97
d3.update(b=98,c=99)
d3.update({'a':3})
print(d3)

{'a': 3, 'b': 98, 'fundation': 'hangzhou', 'country': 'China', 'c': 99}

In [208]:
d6

{'name': 'xiejiawen', 'name2': '111'}

In [212]:
d6.pop('name','zhangsan')

'xiejiawen'

In [213]:
d6.popitem()

('name2', '111')

In [216]:
d6.clear()
d6

{}

In [217]:
d3

{'a': 3, 'b': 98, 'fundation': 'hangzhou', 'country': 'China', 'c': 99}

In [218]:
for i in d3:
    print(i)

a
b
fundation
country
c

In [220]:
for j in d3.keys():
    print(j)

a
b
fundation
country
c

In [224]:
d3

{'a': 3, 'b': 98, 'fundation': 'hangzhou', 'country': 'China', 'c': 99}

In [225]:
while d3:
    print(d3.popitem())

('c', 99)
('country', 'China')
('fundation', 'hangzhou')
('b', 98)
('a', 3)

In [232]:
def pp():
    def print_a():
        print('aaa')
    def print_b():
        print('bbb')
    print(print_a())
    print(print_b())
x=pp
print(x())

aaa
None
bbb
None
None